<h2 class="section_title">Recent Work</h2>

<div class="listings_wrapper"> 

 <div class="listings_item">  
  <img 
   class="listings_img" 
   src="{{ url_for('static', filename='img/portfolio/villa1.jpg') }}"/>
  <div class="lower_wrapper">
   <p class="listings_title">Project 1</p>
   <p class="listings_subtitle">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, inventore reprehenderit adipisci labore quasi quis, ea earum asperiores debitis accusantium.
   </p>   
  </div> 
  <a class="listings_cta">
    Find out more
  </a>
 </div>

 <div class="listings_item">
  <img 
   class="listings_img" 
   src="{{ url_for('static', filename='img/portfolio/villa3.jpg') }}"/>
  <div class="lower_wrapper">
   <p class="listings_title">Project 2</p>
   <p class="listings_subtitle">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, inventore reprehenderit adipisci labore quasi quis, ea earum asperiores debitis accusantium.
   </p>   
  </div> 
  <a class="listings_cta">
    Find out more
  </a>
 </div>

 <div class="listings_item">  
  <img 
   class="listings_img" 
   src="{{ url_for('static', filename='img/portfolio/villa2.jpg') }}"/>
  <div class="lower_wrapper">
   <p class="listings_title">Project 3</p>
   <p class="listings_subtitle">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, inventore reprehenderit adipisci labore quasi quis, ea earum asperiores debitis accusantium.
   </p>   
  </div> 
  <a class="listings_cta">
    Find out more
  </a>
 </div>
</div>